{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Log out</legend>
            {{ form|crispy }}
        </fieldset>
        <button class="form-group" type="submit">Log out</button>
    </form>
    <div class="text-muted">
        <small class="mt-pt-auto">Click the button for login.<a class="btn btn-inline-info" href="{% url 'login' %}">Sign In</a></small>
    </div>
</div>
{% endblock %}